<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <base href="/mashupcharts/view/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <meta property="og:title" content="Mashup.FM Stats" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Mashup.FM Stats. Top Mashup Songs of the week!" />
        <meta property="og:url" content="http://www.simpullapparel.com/mashupcharts/view/" />
        <meta property="og:image" content="http://www.simpullapparel.com/mashupcharts/view/img/logo.png" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="">Mashup.FM Charts</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="about" >About</a></li>
                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <div id="containerWrap" class="clearfix">
                <div id="topList"></div>
                <div id="secondary"></div>
            </div>
            <footer>
                <p><a href="http://turntable.fm/mashupfm">mashup.fm</a></p>
            </footer>

        </div> <!-- /container -->
        <div class="aboutModal modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>About</h3>
            </div>
            <div class="modal-body">
                <p>This is an about page. There isn't much to say. Talk to @sosimpull or @nthitz or some other cool person in #mashup.fm. But only if it's important.</p>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40993791-1', 'mashupcharts.com');
          
        </script>

        <script src="js/utils.js"></script>
        <script src="js/detail.js"></script>
        <script src="js/historyGraph.js"></script>
        
        <script src="js/main.js"></script>

        
    </body>
</html>
